{% extends 'base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% block navbar %}{% endblock navbar %}  
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter email and a mail will be sent with instructions to reset password
                    </div>
                    <form action="{% url 'accounts:resetPassword' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                          </div>
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock footer %}