<div>
  <br>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
  
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Create Finance</button>
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createModalLabel">Save Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action={% url 'balancecontrol:createfinance' %} method="POST">
            {% csrf_token %}
          <div class="modal-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="value" placeholder="value" required/>
                <label for="floatingInput">Value</label>
              </div>
              
              <select class="form-select" aria-label="Default select example" name="typeoperation">
                  <option selected>Open this select menu</option>
                  <option value="P">Prohibited</option>
                  <option value="E">Exit</option>
              </select>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
</div>