<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://res.cloudinary.com/deezimjer/image/upload/v1670954867/Balance_control_1_suz1kn.png">
    {% include 'partial/_head.html' %}
    <title>{% block title %} {% endblock title %} | Balance Control</title>
</head>
{% include 'partial/_nav.html' %}
<body>
    {% block content %}

    {% endblock content %}
</body>
<!--_footer.html-->
<footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">
                    Made By 
                    <a href="https://github.com/HeitorLouzeiro?tab=repositories" target="_blank">
                        Heitor Louzeiro
                    </a>   
                    |                  
                    <a href="https://github.com/arroz01?tab=repositories" target="_blank">
                        Carlos Moisés
                    </a> 

                </p>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->
{% include 'partial/_footer.html' %}
</html>