{% load filter %}
<div class="d-flex border-light justify-content-around text-center">
    <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Daily average</div>
        <div class="card-body">
            <h2 class="card-title ">{{DailyTotal|value_format}}</h2>
        </div>
    </div>    
    <div class="card border-light text-bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-light">Monthly average</div>
        <div class="card-body">
            <h2 class="card-title  text-light">{{MonthlyTotal|value_format}}</h2>
        </div>
    </div>    
    <div class="card border-light text-bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Annual average</div>
        <div class="card-body">
            <h2 class="card-title">{{YearlyTotal|value_format}}</h2>
        </div>
    </div>
</div>