<div class="d-flex justify-content-center mb-3">

  <form class="row btn-search" action="{% url 'balancecontrol:home' %}">
    <div class="col-auto mb-3">
      <label  >Data Initial</label>
      <input type="date" name="start_date"  class="form-control" />
    </div>    
    <div class="col-auto mb-3">
      <label >Data Final</label>
      <input type="date" name="end_date" class="form-control"/>
    </div>
    <div class="col-auto mb-3">
        <a href="{% url 'balancecontrol:home' %}" class="btn btn-danger mb-3"> Limpar </a>
      <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
  </form>
</div>
