{% load filter %}
<div class="text-center">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    <div class="d-none d-sm-block">
                        Code
                    </div>
                </th>
                <th scope="col">Value</th>
                <th scope="col">Prohibited | Exit</th>
                <th scope="col">
                    <div class="d-none d-sm-block">
                        Data
                    </div>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for datebalance in datebalances %}
            <tr>
                
                <td>
                    <div class="d-none d-sm-block">
                        {{ datebalance.code }}
                    </div>
                </td>
                <td>{{ datebalance.value|value_format }}</td>
                {% if datebalance.typeoperation == 'P' %}
                    <td>Prohibited</td>
                {%else%}
                    <td>Exit</td>
                {% endif %}
                    <td>
                        <div class="d-none d-sm-block">
                            {{ datebalance.datecreate|date:"d/m/y" }}
                        </div>
                    </td>
                <td>
                    {% include 'balancecontrol/modal/_editfinance.html' %}
                    {% include 'balancecontrol/modal/_deletefinance.html' %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>