<br>
<div>
    <table class="table table-dark table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Value</th>
                <th scope="col">Prohibited | Exit</th>
                <th scope="col">Data</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for datebalance in datebalances %}
            <tr>
                <td>R$ {{ datebalance.value }}</td>
                    {% if datebalance.typeoperation == 'P' %}
                        <td>Prohibited</td>
                    {%else%}
                        <td>Exit</td>
                    {% endif %}
                <td>{{ datebalance.datecreate|date:"d/m/y" }}</td>
                <td>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>