<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/deezimjer/image/upload/v1670954867/Balance_control_1_suz1kn.png" alt="Bootstrap" width="60" height="60" /></a>
    <span class="navbar-brand text-center">Balance Control</span>
    <form action="{% url 'accounts:logoutUser' %}" method="POST" >
      {% csrf_token %}
      <button type="submit" class="btn btn-light">Logout</button>
    </form>
  </div>
</nav>
<br />
