a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
}

h2, p, .modal-header,label{
    color: black;
}
label {
    text-align: left;
}
.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .btn-search {
        display:flex;
        justify-content: center;
    }
}
